<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a48ba1a1-c148-4af1-b328-6e072cbab4cc/resourceGroups/MohanResourceGroup/providers/Microsoft.Web/sites/pubsubpublisherapi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pubsubpublisherapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>2484dc04-b0ef-44cf-ae5b-dca6d76e3e89</ProjectGuid>
    <PublishUrl>https://pubsubpublisherapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$pubsubpublisherapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>